@import "tailwindcss";


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

*{
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeue/HelveticaNeueHeavy.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeue/HelveticaNeueHeavyItalic.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@keyframes slideLoop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide-container {
  overflow: hidden;
  white-space: nowrap;
  
}

.slide-text {
  display: inline-block;
  gap: 4rem;
  animation: slideLoop 15s linear infinite;
}

